<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title><%= @title %></title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <div class="title">
                <h1>Dir-LABO<span>ディレらぼ</span></h1>
                <p>Webディレクターになるには？ Laboratory</p>
            </div>
            <ul class="header-contents">
                <li class="content"><a>webディレクターとは?<br>キャリアや年収を紹介</a></li>
                <li class="content"><a>webディレクターとは?<br>キャリアや年収を紹介</a></li>
                <li class="content"><a>webディレクターとは?<br>キャリアや年収を紹介</a></li>
            </ul>
        </header>
        <div class="catchcopy">
            <p style="font-size: 40px;">Webディレクターになるには</p>
            <p>本当に活躍しているWebディレクターだけが知っているメソッドを紹介</p>
        </div>
    </div>
</body>
</html>